{% extends 'main/layout.html' %}

{% block title %} Про нас {% endblock %}

{% block text %}
    <div class="feature">
        <h1>Вкратце про нас</h1>
        <p> В своем познании настолько преисполнились что как будто бы уже сто триллионов миллиардов лет проживаем на триллионах таких же планет, как эта Земля. Этот мир абсолютно понятен, и мы здесь ищем только одного - покоя, умиротворения и этой гармонии, от слияния с бесконечно вечным, от созерцания великого фрактального подобия и этого замечательного всеединства существа, бесконечно вечного, куда ни посмотри, хоть вглубь - бесконечно малое, хоть ввысь - бесконечно большое... </p>
    <p></p>
    </div>
{% endblock %}

